<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.kimschuiten.mypersonalcookbook30">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="true"></uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.RecipeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.PhotoRecipeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.ShowRecipeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.TextOrPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="nl.mprog.kimschuiten.mypersonalcookbook30.TextRecipeActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
